{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint"],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking",
                "prettier"
            ],
            "rules": {
                "@typescript-eslint/no-inferrable-types": "off",
                "@typescript-eslint/explicit-function-return-type": "error",
                "@typescript-eslint/explicit-member-accessibility": "error"
            }
        },
        {
            "files": ["*.js", "*.jsx"],
            "extends": ["eslint:recommended", "prettier"],
            "rules": {}
        }
    ],
    "env": {
        "browser": true,
        "node": true,
        "es2020": true,
        "jasmine": true
    },
    "globals": {}
}
